
Projet/.idea/.idea.Projet/.idea/encodings.xml
Projet/.idea/.idea.Projet/.idea/indexLayout.xml
Projet/.idea/.idea.Projet/.idea/riderModule.iml
Projet/.idea/.idea.Projet/.idea/indexLayout.xml
Projet/.idea/.idea.Projet/.idea/indexLayout.xml

Projet/.vs/Projet/v16/

Projet/.idea/.idea.Projet/.idea/
