# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Projet.iml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\ALEXA\Google Drive\Alexandre\GitHub\Projet2\Projet\.idea\.idea.Projet\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
